.Div1{
    height: 400px;
    width: 100%;
    background-image: url("/images/cat.gif");

}



.h1{
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
}

.P{
  font-family: 'Poppins', sans-serif;
}


.footer-background {
  /* The image used */
  background-image: url("/images/FooterShape.png");

  /* Full height */

  height: 200px;
 

}
 .pr-3{
  padding-right: 3rem;
 }

.bg-dark-grad{
  background: linear-gradient(to bottom, #28221F, #3E3129);
}


  .footer{
  padding: 110px 0px 0px 0px;
  
 
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:0% 0%;
  
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }