
@import "../node_modules/bootstrap/scss/functions";



$enable-rounded: false;

$primary: rgb(157,63,239);

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";





$custom-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    rgb(101,156,159),
  "danger":     $danger,
  "light":      $light,
  "dark":       rgb(40,34,31)
) !default;




$theme-colors: map-merge($theme-colors , $custom-colors );

@import "../node_modules/bootstrap/scss/bootstrap.scss";
